body {
    font-family: 'Nunito Sans', sans-serif;
}

header .container-fluid {
    background-color: rgb(44, 62, 80);
}

main .container-fluid,
footer .container-fluid {
    min-height: 500px;
}

main .col-12 {
    height: 350px;
}

.green {
    background-color: rgb(26, 188, 156);
}

.gray {
    background-color: rgb(58, 84, 109);
}

.darkgray {
    /* background-color: rgb(44, 62, 80); */
    background-color: red;
    height: 80px;
}